
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
   
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    }

    main .resume{
       padding-top: 100px;
    }

    tr {
      border-bottom: solid;
      
    }
    .divTable{
      padding: 30px;
    }
    main{
      color: white;
      font-size: large;
    }